<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="copyright" content="">
<link rel="shortcut icon bookmark" href="/favicon.ico" type="image/x-icon" />
<title>{$web_name}</title>
<link href="__STATIC__/css/ui.css" rel="stylesheet">
<link href="__STATIC__/css/layout.css" rel="stylesheet">
<script src="__STATIC__/js/jquery.js"></script>
<!--[if lt IE 9]>
<script src="statics/scripts/html5.js"></script>
<![endif]-->
</head>
<body>
